.hqimage{
    width: 60%;
    height: 75%;
    object-fit: fill;
    filter: drop-shadow(2px 2px 5px black);
    transition: transform 0.2s 1ms ease-in-out;
    justify-self: center;
    align-self: center;
}

.hqimage:hover{
    transform: scale(1.2);
}

.hqcard:hover .hqtitle{
    color: rgb(230, 36, 41)
}
